name: Build Pkg

on:
  push:
    branches: [ "main", "ci-*" ]
  pull_request:
    branches: [ "main" ]

concurrency: pkg

env:
  CARGO_TERM_COLOR: always

jobs:
  build_freebsd_14:
    name: Build FreeBSD 14 package
    runs-on: ubuntu-latest
    env:
      FREEBSD_VERSION: "14.3"
    steps:
      - uses: actions/checkout@v4
      - name: Build in FreeBSD
        id: build
        uses: vmactions/freebsd-vm@v1
        with:
          release: ${{ env.FREEBSD_VERSION }}
          envs: 'GITHUB_RUN_NUMBER GITHUB_SHA CARGO_TERM_COLOR'
          usesh: true
          prepare: |
            mkdir -p /usr/local/etc/pkg/repos
            echo 'FreeBSD: { url: "pkg+http://pkg.FreeBSD.org/${ABI}/latest" }' > /usr/local/etc/pkg/repos/FreeBSD.conf
            pkg update -f
            pkg upgrade -y

            pkg install -y \
              bash \
              rust-nightly

          run: |
            pwd

            cargo build --workspace --release
      - name: Create package
        run: |
          ssh freebsd << EOF
            pwd
            cd $GITHUB_WORKSPACE

            ./bin/freebsd/package
            mv medic-*.pkg medic-freebsd-14.3-amd64.pkg
          EOF

          scp -r freebsd:$GITHUB_WORKSPACE/medic-*.pkg .
      - name: Save pkg artifact
        uses: actions/upload-artifact@v4
        with:
          name: medic-freebsd-14.3-amd64
          path: medic-*.pkg
  build_freebsd_15:
    name: Build FreeBSD 15 package
    runs-on: ubuntu-latest
    env:
      FREEBSD_VERSION: "15.0"
    steps:
      - uses: actions/checkout@v4
      - name: Build in FreeBSD
        id: build
        uses: vmactions/freebsd-vm@v1
        with:
          release: ${{ env.FREEBSD_VERSION }}
          envs: 'GITHUB_RUN_NUMBER GITHUB_SHA CARGO_TERM_COLOR'
          usesh: true
          prepare: |
            mkdir -p /usr/local/etc/pkg/repos
            echo 'FreeBSD: { url: "pkg+http://pkg.FreeBSD.org/${ABI}/latest", mirror_type: "none" }' > /usr/local/etc/pkg/repos/FreeBSD.conf
            pkg update -f
            pkg upgrade -y

            pkg install -y \
              bash \
              rust-nightly

          run: |
            pwd

            cargo build --workspace --release
      - name: Create package
        run: |
          ssh freebsd << EOF
            pwd
            cd $GITHUB_WORKSPACE

            ./bin/freebsd/package
            mv medic-*.pkg medic-freebsd-15.0-amd64.pkg
          EOF

          scp -r freebsd:$GITHUB_WORKSPACE/medic-*.pkg .
      - name: Save pkg artifact
        uses: actions/upload-artifact@v4
        with:
          name: medic-freebsd-15.0-amd64
          path: medic-*.pkg

